<!DOCTYPE html>
<html lang="hu">
<html>
<head>
    <title>Órarended</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <table>
        <thead> </thead>
            <tr>
                <th>Óra </th>
                <th>Kezdete</th>
                <th>vége</th>
                <th>Helyszín</th>
            </tr>
        <tbody>
        {% for event in events %}
            <tr>
                <td>{{ event.summary }}</td>
                <td>{{ event.start_time }}</td>
                <td>{{ event.end_time }}</td>
                <td>{{ event.location }}</td>
            </tr>
        {% empty %}
            <tr>
                <td> Nincsenek események</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</body>
</html>